body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2c2f33;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;
    max-width: 1900px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid #4a4d52;
    background-color: #23272a;
    max-width: 40%;
    min-height: 30%;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7289da;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    max-width: 20%;
    margin: auto;
    }
.button:hover {
    background-color: #5b6eae;
}